@keyframes example {
    from {background-color: darkcyan;}
    to {background-color: white;}
}



.head{
    font-family: 'Gill Sans';
    color: darkcyan;
    font-size: 5em;
    text-align: center;
    animation-name: example;
    animation-duration: 20000ms;

}
